Cargar archivo movies.CSV a dataframe, Ver las columnas del DataFrame, Verificar y eliminar valores nulos

In [86]:
import pandas as pd
import ast

dfMovies = pd.read_csv(r'C:\Users\pc\Downloads\movies_dataset.csv')

print(dfMovies.info())
print(dfMovies.columns)            
print(dfMovies.isnull().sum())
dfMovies.dropna(inplace=True)

C:\Users\pc\AppData\Local\Temp\ipykernel_34640\407565945.py:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  dfMovies = pd.read_csv(r'C:\Users\pc\Downloads\movies_dataset.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB
None
Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')
adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

Preprocesamiento de datos: tratamiento de datos antes de realizar la desanidacion. Se realiza una funcion que crea una copia del Df original para no afectarlo, posteriormente itera sobre cada columna del dataFrame verificando si la columna es de tipo objeto (cadenas) para en ese caso convertirlas a listas o diccionarios.

In [87]:
#conversion a listas o diccionarios: 
def convertir_list_dic(df):
    df_converted = df.copy()
    
    for column in df_converted.columns:
        if df_converted[column].dtype == 'object':
            try:
                df_converted[column] = df_converted[column].apply(ast.literal_eval)
            except (ValueError, SyntaxError):
                print(f"Error al convertir la columna '{column}'. Las cadenas no tienen el formato correcto.")
    
    return df_converted

df = pd.DataFrame(dfMovies)
df_converted = convertir_list_dic(dfMovies)

print(df_converted)

Error al convertir la columna 'homepage'. Las cadenas no tienen el formato correcto.
Error al convertir la columna 'imdb_id'. Las cadenas no tienen el formato correcto.
Error al convertir la columna 'original_language'. Las cadenas no tienen el formato correcto.
Error al convertir la columna 'original_title'. Las cadenas no tienen el formato correcto.
Error al convertir la columna 'overview'. Las cadenas no tienen el formato correcto.
Error al convertir la columna 'popularity'. Las cadenas no tienen el formato correcto.
Error al convertir la columna 'poster_path'. Las cadenas no tienen el formato correcto.
Error al convertir la columna 'release_date'. Las cadenas no tienen el formato correcto.
Error al convertir la columna 'status'. Las cadenas no tienen el formato correcto.
Error al convertir la columna 'tagline'. Las cadenas no tienen el formato correcto.
Error al convertir la columna 'title'. Las cadenas no tienen el formato correcto.
Error al convertir la columna 'video'. Las cadenas no tienen el formato correcto.
       adult                              belongs_to_collection     budget  \
9      False  {'id': 645, 'name': 'James Bond Collection', '...   58000000
68     False  {'id': 43563, 'name': 'Friday Collection', 'po...    3500000
69     False  {'id': 10924, 'name': 'From Dusk Till Dawn Col...   19000000
153    False  {'id': 439053, 'name': 'Brooklyn Cigar Store C...    2000000
178    False  {'id': 286162, 'name': 'Power Rangers Collecti...   15000000
...      ...                                                ...        ...
44274  False  {'id': 173710, 'name': 'Planet of the Apes (Re...  152000000
44674  False  {'id': 476961, 'name': 'Goon Collection', 'pos...          0
44821  False  {'id': 34055, 'name': 'Pokémon Collection', 'p...   16000000
44842  False  {'id': 8650, 'name': 'Transformers Collection'...  260000000
45029  False  {'id': 417491, 'name': 'Bon Cop Bad Cop Collec...          0

                                                  genres  \
9      [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
68                        [{'id': 35, 'name': 'Comedy'}]
69     [{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...
153                       [{'id': 35, 'name': 'Comedy'}]
178    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
...                                                  ...
44274  [{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...
44674                     [{'id': 35, 'name': 'Comedy'}]
44821  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
44842  [{'id': 28, 'name': 'Action'}, {'id': 878, 'na...
45029  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...

                                                homepage      id    imdb_id  \
9           http://www.mgm.com/view/movie/757/Goldeneye/     710  tt0113189
68         http://www.newline.com/properties/friday.html   10634  tt0113118
69     http://www.miramax.com/movie/from-dusk-till-dawn/     755  tt0116367
153           http://miramax.com/movie/blue-in-the-face/    5894  tt0112541
178                         http://www.powerrangers.com/    9070  tt0113820
...                                                  ...     ...        ...
44274  http://www.foxmovies.com/movies/war-for-the-pl...  281338  tt3450958
44674         https://www.facebook.com/GoonFilm/?fref=ts  336890  tt2417712
44821                  http://movies.warnerbros.com/pk3/   10991  tt0235679
44842                  http://www.transformersmovie.com/  335988  tt3371366
45029                                http://bcbc2.ca/en/  417489  tt4738174

      original_language                           original_title  \
9                    en                                GoldenEye
68                   en                                   Friday
69                   en                      From Dusk Till Dawn
153                  en                         Blue in the Face
178                  en  Mighty Morphin Power Rangers: The Movie
...                 ...                                      ...
44274                en           War for the Planet of the Apes
44674                en              Goon: Last of the Enforcers
44821                ja                     Pokémon 3: The Movie
44842                en            Transformers: The Last Knight
45029                fr                        Bon Cop Bad Cop 2

                                                overview  ... release_date  \
9      James Bond must unmask the mysterious head of ...  ...   1995-11-16
68     Craig and Smokey are two guys in Los Angeles h...  ...   1995-04-26
69     Seth Gecko and his younger brother Richard are...  ...   1996-01-19
153    Auggie runs a small tobacco shop in Brooklyn, ...  ...   1995-09-15
178    Power up with six incredible teens who out-man...  ...   1995-06-30
...                                                  ...  ...          ...
44274  Caesar and his apes are forced into a deadly c...  ...   2017-07-11
44674  During a pro lockout, Doug "The Thug" Glatt is...  ...   2017-03-17
44821  When Molly Hale's sadness of her father's disa...  ...   2000-07-08
44842  Autobots and Decepticons are at war, with huma...  ...   2017-06-21
45029  Ward and Bouchard must face an important car t...  ...   2017-05-12

           revenue runtime                                   spoken_languages  \
9      352194034.0   130.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
68      28215918.0    91.0           [{'iso_639_1': 'en', 'name': 'English'}]
69      25836616.0   108.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
153      1275000.0    83.0           [{'iso_639_1': 'en', 'name': 'English'}]
178     66000000.0    92.0           [{'iso_639_1': 'en', 'name': 'English'}]
...            ...     ...                                                ...
44274  369907963.0   140.0           [{'iso_639_1': 'en', 'name': 'English'}]
44674          0.0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
44821   68411275.0    93.0           [{'iso_639_1': 'en', 'name': 'English'}]
44842  604942143.0   149.0           [{'iso_639_1': 'en', 'name': 'English'}]
45029          0.0     0.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...

         status                                            tagline  \
9      Released               No limits. No fears. No substitutes.
68     Released  A lot can go down between thursday and saturda...
69     Released  One night is all that stands between them and ...
153    Released                    Welcome to the planet Brooklyn.
178    Released                                   The Power Is On!
...         ...                                                ...
44274  Released           For freedom. For family. For the planet.
44674  Released                                      Glatt's Back!
44821  Released                      Pokémon: Spell of the Unknown
44842  Released         For one world to live, the other must die.
45029  Released            It's okay America, we've got your back.

                                         title  video vote_average vote_count
9                                    GoldenEye  False          6.6     1194.0
68                                      Friday  False          7.0      513.0
69                         From Dusk Till Dawn  False          6.9     1644.0
153                           Blue in the Face  False          6.8       28.0
178    Mighty Morphin Power Rangers: The Movie  False          5.2      153.0
...                                        ...    ...          ...        ...
44274           War for the Planet of the Apes  False          6.7     1675.0
44674              Goon: Last of the Enforcers  False          6.0       35.0
44821            Pokémon: Spell of the Unknown  False          6.0      144.0
44842            Transformers: The Last Knight  False          6.2     1440.0
45029                        Bon Cop Bad Cop 2  False          6.8        5.0

[693 rows x 24 columns]

In [140]:
# Se crea un ciclo for para comprobar que tipo de elementos tienen las columnas. 
for column in df_converted.columns:
    if df_converted[column].dtype == 'object':
        are_lists = df_converted[column].apply(lambda x: isinstance(x, list)).all()
        are_dicts = df_converted[column].apply(lambda x: isinstance(x, dict)).all()
        
        if are_lists:
            print(f"\nTodos los elementos en la columna '{column}' son listas.")
        elif are_dicts:
            print(f"\nTodos los elementos en la columna '{column}' son diccionarios.")
        else:
            print(f"\nLa columna '{column}' contiene elementos mixtos o no es una lista ni un diccionario.")

Todos los elementos en la columna 'belongs_to_collection' son diccionarios.

Todos los elementos en la columna 'genres' son listas.

La columna 'homepage' contiene elementos mixtos o no es una lista ni un diccionario.

La columna 'imdb_id' contiene elementos mixtos o no es una lista ni un diccionario.

La columna 'original_language' contiene elementos mixtos o no es una lista ni un diccionario.

La columna 'original_title' contiene elementos mixtos o no es una lista ni un diccionario.

La columna 'overview' contiene elementos mixtos o no es una lista ni un diccionario.

La columna 'popularity' contiene elementos mixtos o no es una lista ni un diccionario.

La columna 'poster_path' contiene elementos mixtos o no es una lista ni un diccionario.

Todos los elementos en la columna 'production_companies' son listas.

Todos los elementos en la columna 'production_countries' son listas.

La columna 'release_date' contiene elementos mixtos o no es una lista ni un diccionario.

Todos los elementos en la columna 'spoken_languages' son listas.

La columna 'status' contiene elementos mixtos o no es una lista ni un diccionario.

La columna 'tagline' contiene elementos mixtos o no es una lista ni un diccionario.

La columna 'title' contiene elementos mixtos o no es una lista ni un diccionario.

La columna 'video' contiene elementos mixtos o no es una lista ni un diccionario.

Desanidacion de datos: Se crea un funcion que revisa cada columna y si esta contiene listas usa .explode() para expandirlas, si la columna contiene diccionarios usa pd.jason_normalize() para descomponer 
cada diccionario en columnas individuales y las renombra para evitar duplicados, finalmente las columnas desanidadas se agregan al DataFrame y la columna original se elimina.

In [141]:
def desanidar_columnas(df):
    
    for column in df.columns:
        if df[column].apply(lambda x: isinstance(x, list)).any():
            df = df.explode(column).reset_index(drop=True)
        
        if df[column].apply(lambda x: isinstance(x, dict)).any():
            desanidado_df = pd.json_normalize(df[column])
            desanidado_df.columns = [f"{column}_{subcol}" for subcol in desanidado_df.columns]
            df = pd.concat([df.reset_index(drop=True), desanidado_df], axis=1).drop(columns=[column])
    
    return df

df_desanidado = desanidar_columnas(df_converted)
print(df_desanidado.columns)

Index(['adult', 'budget', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'revenue', 'runtime', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count', 'belongs_to_collection_id',
       'belongs_to_collection_name', 'belongs_to_collection_poster_path',
       'belongs_to_collection_backdrop_path', 'genres_id', 'genres_name',
       'production_companies_name', 'production_companies_id',
       'production_countries_iso_3166_1', 'production_countries_name',
       'spoken_languages_iso_639_1', 'spoken_languages_name'],
      dtype='object')

In [142]:
print("\nNúmero de filas antes y después de desanidar:")
print(f"Filas originales: {len(df)}")
print(f"Filas después de desanidar: {len(df_desanidado)}")

Número de filas antes y después de desanidar:
Filas originales: 693
Filas después de desanidar: 15771

In [143]:
#cambiar valores nulos a cero
print(df_desanidado['revenue'].isnull().sum())
dfMovies['revenue'] = dfMovies['revenue'].fillna(0)

0

In [144]:
#se agrega .astype() para indicar que debe ser float el tipo de dato
print(df_desanidado['budget'].isnull().sum())
dfMovies['budget'] = dfMovies['budget'].fillna(0)
dfMovies['budget'] = dfMovies['budget'].astype(float)

0

In [145]:
#valores nulos de release date deben eliminarse, y se usa reset_index para restablecer el indice del dataframe para evitar mantener los indices anteriores  
df_cleaned = df_desanidado.dropna(subset=['release_date']).reset_index(drop=True)
print("\nDataFrame después de eliminar valores nulos en la columna 'release_date':")
print(df_cleaned['release_date'])

DataFrame después de eliminar valores nulos en la columna 'release_date':
0        1995-11-16
1        1995-11-16
2        1995-11-16
3        1995-11-16
4        1995-11-16
            ...
15766    2017-05-12
15767    2017-05-12
15768    2017-05-12
15769    2017-05-12
15770    2017-05-12
Name: release_date, Length: 15771, dtype: object

#fechas en formato AAAA-mm-dd y columna release_year

In [146]:
#para la tranformacion primero se uso el argumento dayFirst=True para priorizar el dia sobre mes en fechas ambiguas,
# se ordenan las fechas y posteriormente se les dio el formato AAAA-mm-dd. 

df_cleaned['release_date'] = pd.to_datetime(df_cleaned['release_date'], dayfirst=True)
df_cleaned = df_cleaned.sort_values(by='release_date')
df_cleaned['release_date'] = pd.to_datetime(df_cleaned['release_date'], format='%d/%m/%Y')
print(df_cleaned['release_date'])

532     1940-11-13
533     1940-11-13
534     1940-11-13
4070    1942-05-27
4072    1942-05-27
           ...
15700   2017-07-11
15699   2017-07-11
15698   2017-07-11
15697   2017-07-11
15696   2017-07-11
Name: release_date, Length: 15771, dtype: datetime64[ns]

C:\Users\pc\AppData\Local\Temp\ipykernel_34640\3428505200.py:4: UserWarning: Parsing dates in %Y-%m-%d format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df_cleaned['release_date'] = pd.to_datetime(df_cleaned['release_date'], dayfirst=True)

#crear columna release_year

In [147]:
df_cleaned['release_year'] = df_cleaned['release_date'].dt.year
print(df_cleaned['release_year'])

532      1940
533      1940
534      1940
4070     1942
4072     1942
         ...
15700    2017
15699    2017
15698    2017
15697    2017
15696    2017
Name: release_year, Length: 15771, dtype: int32

#crear columna con retorno de inversion: se usa .apply() para aplicar una función lambda a cada fila del DataFrame, la cual calcula el retorno de inversion y se indica que si el valor de budget es 0, asigna 0 al retorno de inversion.

In [148]:
df_cleaned['return'] = df_cleaned.apply(lambda row: row['revenue'] / row['budget'] if row['budget'] != 0 else 0,axis=1)
print(df_cleaned['return'])

532      36.543860
533      36.543860
534      36.543860
4070      0.000000
4072      0.000000
           ...
15700     2.433605
15699     2.433605
15698     2.433605
15697     2.433605
15696     2.433605
Name: return, Length: 15771, dtype: float64

In [149]:
print(df_cleaned.columns)

Index(['adult', 'budget', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'revenue', 'runtime', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count', 'belongs_to_collection_id',
       'belongs_to_collection_name', 'belongs_to_collection_poster_path',
       'belongs_to_collection_backdrop_path', 'genres_id', 'genres_name',
       'production_companies_name', 'production_companies_id',
       'production_countries_iso_3166_1', 'production_countries_name',
       'spoken_languages_iso_639_1', 'spoken_languages_name', 'release_year',
       'return'],
      dtype='object')

In [150]:

columnas_a_eliminar = [ 'adult','video','imdb_id','original_title','poster_path','homepage']
df_cleaned = df_cleaned.drop(columns=columnas_a_eliminar)
print(df_cleaned.columns)

Index(['budget', 'id', 'original_language', 'overview', 'popularity',
       'release_date', 'revenue', 'runtime', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'belongs_to_collection_id',
       'belongs_to_collection_name', 'belongs_to_collection_poster_path',
       'belongs_to_collection_backdrop_path', 'genres_id', 'genres_name',
       'production_companies_name', 'production_companies_id',
       'production_countries_iso_3166_1', 'production_countries_name',
       'spoken_languages_iso_639_1', 'spoken_languages_name', 'release_year',
       'return'],
      dtype='object')

In [151]:
print(df_cleaned['spoken_languages_name'])

532      English
533      English
534      English
4070     English
4072     English
          ...
15700    English
15699    English
15698    English
15697    English
15696    English
Name: spoken_languages_name, Length: 15771, dtype: object

In [152]:
print(f"Numero de filas: {len(df_cleaned)}")

Numero de filas: 15771

In [153]:
print(df_cleaned['release_date'])

532     1940-11-13
533     1940-11-13
534     1940-11-13
4070    1942-05-27
4072    1942-05-27
           ...
15700   2017-07-11
15699   2017-07-11
15698   2017-07-11
15697   2017-07-11
15696   2017-07-11
Name: release_date, Length: 15771, dtype: datetime64[ns]

In [223]:
#Debido a que la columna "popularity" contiene valores que pandas intenta convertir a tipo numerico al querer transformar a formato parquet, 
#pero algunos valores estan en formato string se realiza la conversion previa para que no me arroje error al momento de la conversion. 
df_cleaned['popularity'] = pd.to_numeric(df_cleaned['popularity'], errors='coerce')
print(df_cleaned['popularity'])

532        8.037960
533        8.037960
534        8.037960
4070       0.476623
4072       0.476623
            ...
15700    146.161786
15699    146.161786
15698    146.161786
15697    146.161786
15696    146.161786
Name: popularity, Length: 15771, dtype: float64

In [224]:
df_cleaned.columns

Index(['budget', 'id', 'original_language', 'overview', 'popularity',
       'release_date', 'revenue', 'runtime', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'belongs_to_collection_id',
       'belongs_to_collection_name', 'belongs_to_collection_poster_path',
       'belongs_to_collection_backdrop_path', 'genres_id', 'genres_name',
       'production_companies_name', 'production_companies_id',
       'production_countries_iso_3166_1', 'production_countries_name',
       'spoken_languages_iso_639_1', 'spoken_languages_name', 'release_year',
       'return'],
      dtype='object')

In [225]:
print(df_cleaned['belongs_to_collection_name'])

532                         Fantasia Collection
533                         Fantasia Collection
534                         Fantasia Collection
4070                               Why We Fight
4072                               Why We Fight
                          ...
15700    Planet of the Apes (Reboot) Collection
15699    Planet of the Apes (Reboot) Collection
15698    Planet of the Apes (Reboot) Collection
15697    Planet of the Apes (Reboot) Collection
15696    Planet of the Apes (Reboot) Collection
Name: belongs_to_collection_name, Length: 15771, dtype: object

In [226]:
idiomas_disponibles = df_cleaned['spoken_languages_name'].unique()
print(idiomas_disponibles)

['English' 'Italiano' 'Français' 'Română' 'Türkçe' 'Pусский' 'Español'
 '普通话' '日本語' 'Deutsch' 'Latin' 'Wolof' 'العربية' 'Magyar' 'ελληνικά'
 'ภาษาไทย' '广州话 / 廣州話' '' 'עִבְרִית' 'Norsk' 'Slovenčina' 'Český' 'Dansk'
 'Polski' 'Український' 'Nederlands' '한국어/조선말' 'Íslenska' 'Hrvatski'
 'Kiswahili' 'Tiếng Việt' 'हिन्दी' 'Esperanto' 'Português' 'اردو' nan
 'Srpski' 'فارسی' 'svenska' 'suomi' 'ਪੰਜਾਬੀ' 'Bahasa indonesia' 'Català']

Para las funciones solicitadas se crea un DF con los campos: 'title','release_date','release_year','popularity','spoken_languages_name','vote_count','vote_average'. A los cuales se les realizan modificacones que buscan mejorar el rendimiento y eficiencia en memoria y ajustarse a las distintas especificaciones que se solicitaban.

In [227]:
df_funciones = df_cleaned[['title','release_date','release_year','popularity','spoken_languages_name','vote_count','vote_average','belongs_to_collection_name','genres_name', 'overview']].copy() #copia del df original 
df_funciones = df_funciones[
    (df_funciones['spoken_languages_name'].isin(['English','Español', 'Italiano', 'Português'])) #Limite el df a solo peliculas donde el idioma sea ingles, italiano y español.                      
].reset_index(drop=True)

print(df_funciones.head())
print(f"Numero de filas: {len(df_funciones)}")

                          title release_date  release_year  popularity  \
0                      Fantasia   1940-11-13          1940    8.037960
1                      Fantasia   1940-11-13          1940    8.037960
2                      Fantasia   1940-11-13          1940    8.037960
3  Why We Fight: Prelude to War   1942-05-27          1942    0.476623
4  Why We Fight: Prelude to War   1942-05-27          1942    0.476623

  spoken_languages_name  vote_count  vote_average belongs_to_collection_name  \
0               English       831.0           7.2        Fantasia Collection
1               English       831.0           7.2        Fantasia Collection
2               English       831.0           7.2        Fantasia Collection
3               English         5.0           5.6               Why We Fight
4               English         5.0           5.6               Why We Fight

   genres_name                                           overview
0    Animation  Walt Disney's timeless masterpiece is an extra...
1       Family  Walt Disney's timeless masterpiece is an extra...
2        Music  Walt Disney's timeless masterpiece is an extra...
3  Documentary  Prelude to War was the first film of Frank Cap...
4          War  Prelude to War was the first film of Frank Cap...
Numero de filas: 10015

In [228]:
#Normalizacion de datos: 
#Elimina espacios extra y convierte a minúsculas para unificar los formatos de texto
df_funciones['title'] = df_funciones['title'].str.strip().str.lower()
df_funciones['spoken_languages_name'] = df_funciones['spoken_languages_name'].str.strip().str.lower()
df_funciones['genres_name'] = df_funciones['genres_name'].str.strip().str.lower()
df_funciones['overview'] = df_funciones['genres_name'].str.strip().str.lower()

In [229]:
print(df_funciones[['title', 'spoken_languages_name', 'genres_name']].head(20))

                           title spoken_languages_name  genres_name
0                       fantasia               english    animation
1                       fantasia               english       family
2                       fantasia               english        music
3   why we fight: prelude to war               english  documentary
4   why we fight: prelude to war               english          war
5   why we fight: prelude to war               english      history
6                          bambi               english    animation
7                          bambi               english        drama
8                          bambi               english       family
9                     cinderella               english      fantasy
10                    cinderella               english      fantasy
11                    cinderella               english    animation
12                    cinderella               english    animation
13                    cinderella               english      romance
14                    cinderella               english      romance
15                    cinderella               english       family
16                    cinderella               english       family
17                      la notte              italiano        drama
18                      la notte              italiano        drama
19                      la notte              italiano        drama

Se observa que el df_funciones tiene 7981 duplicados, por lo cual procedemos a eliminarlos.

In [230]:
# Verifica los duplicados en df_funciones
duplicados_en_df_funciones = df_funciones.duplicated().sum()
print(f"Número de duplicados en df_funciones: {duplicados_en_df_funciones}")

print(df_funciones[df_funciones.duplicated()])

Número de duplicados en df_funciones: 7981
                                title release_date  release_year  popularity  \
10                         cinderella   1950-03-04          1950   14.436858
12                         cinderella   1950-03-04          1950   14.436858
14                         cinderella   1950-03-04          1950   14.436858
16                         cinderella   1950-03-04          1950   14.436858
18                           la notte   1961-01-23          1961    3.872462
...                               ...          ...           ...         ...
10007   transformers: the last knight   2017-06-21          2017   39.186819
10008   transformers: the last knight   2017-06-21          2017   39.186819
10010  war for the planet of the apes   2017-07-11          2017  146.161786
10012  war for the planet of the apes   2017-07-11          2017  146.161786
10014  war for the planet of the apes   2017-07-11          2017  146.161786

      spoken_languages_name  vote_count  vote_average  \
10                  english      1760.0           6.8
12                  english      1760.0           6.8
14                  english      1760.0           6.8
16                  english      1760.0           6.8
18                 italiano        72.0           7.7
...                     ...         ...           ...
10007               english      1440.0           6.2
10008               english      1440.0           6.2
10010               english      1675.0           6.7
10012               english      1675.0           6.7
10014               english      1675.0           6.7

                   belongs_to_collection_name      genres_name  \
10                      Cinderella Collection          fantasy
12                      Cinderella Collection        animation
14                      Cinderella Collection          romance
16                      Cinderella Collection           family
18                         Alienation Trilogy            drama
...                                       ...              ...
10007                 Transformers Collection         thriller
10008                 Transformers Collection         thriller
10010  Planet of the Apes (Reboot) Collection              war
10012  Planet of the Apes (Reboot) Collection  science fiction
10014  Planet of the Apes (Reboot) Collection            drama

              overview
10             fantasy
12           animation
14             romance
16              family
18               drama
...                ...
10007         thriller
10008         thriller
10010              war
10012  science fiction
10014            drama

[7981 rows x 10 columns]

In [231]:
# Eliminar duplicados en el DataFrame df_funciones
df_funciones = df_funciones.drop_duplicates()
print(f"Número de filas después de eliminar duplicados: {len(df_funciones)}")

Número de filas después de eliminar duplicados: 2034

In [233]:
df_funciones.columns

Index(['title', 'release_date', 'release_year', 'popularity',
       'spoken_languages_name', 'vote_count', 'vote_average',
       'belongs_to_collection_name', 'genres_name', 'overview'],
      dtype='object')

In [234]:
#Se convierte a archivo.parquet para optimizacion de espacio y velocidad.  
df_funciones.to_parquet("df_funciones.parquet", engine='pyarrow', index=False)
df_verificado = pd.read_parquet("df_funciones.parquet")
print(df_verificado.head())

                          title release_date  release_year  popularity  \
0                      fantasia   1940-11-13          1940    8.037960
1                      fantasia   1940-11-13          1940    8.037960
2                      fantasia   1940-11-13          1940    8.037960
3  why we fight: prelude to war   1942-05-27          1942    0.476623
4  why we fight: prelude to war   1942-05-27          1942    0.476623

  spoken_languages_name  vote_count  vote_average belongs_to_collection_name  \
0               english       831.0           7.2        Fantasia Collection
1               english       831.0           7.2        Fantasia Collection
2               english       831.0           7.2        Fantasia Collection
3               english         5.0           5.6               Why We Fight
4               english         5.0           5.6               Why We Fight

   genres_name     overview
0    animation    animation
1       family       family
2        music        music
3  documentary  documentary
4          war          war

Se crea una funcion donde se ingresa un mes en idioma Español y devuelve la cantidad de películas que fueron estrenadas en el mes.
consultado en el Dataset "df_funciones".

In [235]:
# primero se crea un diccionario para traducir los meses en español a su número correspondiente, luego se convierte el mes ingresado en español a minúsculas y se obtiene su número.
# Finalmente se filtran las películas que fueron estrenadas en el mes consultado.

def cantidad_filmaciones_mes(mes):
    ""
    meses = {
        'enero': 1, 'febrero': 2, 'marzo': 3, 'abril': 4, 'mayo': 5, 'junio': 6,
        'julio': 7, 'agosto': 8, 'septiembre': 9, 'octubre': 10, 'noviembre': 11, 'diciembre': 12
    }
    
    mes = mes.lower()
    mes_numero = meses.get(mes)
    
    if mes_numero is None:
        return "El mes ingresado no es válido. Por favor, ingrese un mes en español."
    cantidad = df_funciones[df_funciones['release_date'].dt.month == mes_numero].shape[0]
    
    return f"{cantidad} películas fueron estrenadas en el mes de {mes.capitalize()}."


print(cantidad_filmaciones_mes("julio"))

220 películas fueron estrenadas en el mes de Julio.

Se crea una funcion donde se ingresa un día en idioma Español el cual devuelve la cantidad de películas que fueron estrenadas en día.
consultado en el Dataset "df_funciones".

In [236]:
#Se crea un diccionario para traducir los días de la semana en español a su número correspondiente (lunes=0, domingo=6).
#Se busca convertir el día ingresado en español a minúsculas y obtener su número correspondiente.
#Por ultimo se filtran las películas que fueron estrenadas en el día consultado.
def cantidad_filmaciones_dia(dia):
    
    dias_semana = {
        'lunes': 0, 'martes': 1, 'miércoles': 2, 'jueves': 3, 
        'viernes': 4, 'sábado': 5, 'domingo': 6
    }
    dia = dia.lower()
    dia_numero = dias_semana.get(dia)
    
    if dia_numero is None:
        return "El día ingresado no es válido. Por favor, ingrese un día de la semana en español."
    cantidad = df_funciones[df_funciones['release_date'].dt.dayofweek == dia_numero].shape[0]
    return f"{cantidad} películas fueron estrenadas en los días {dia.capitalize()}."


print(cantidad_filmaciones_dia("sábado"))

151 películas fueron estrenadas en los días Sábado.

La funcion "score_titulo" busca que al ingresar el título de una filmación arroje como respuesta el título, el año de estreno y el score.
En esta funcion se modifico el df para la columna "titulo" donde remplace los espacios por "_", para que al momento de realizar la busqueda en el 
servidor lo pueda detectar y no de error.

In [237]:
#Se filtra el df para encontrar la filmación con el título ingresado, posteriormente se comprueba si se encontró la película.
#Despues se obtiene la informacion necesaria de los campos 'title','release_year','popularity' para dar el resultado solicitado. 
def score_titulo(titulo_de_la_filmacion: str):
   
    titulo_formateado = titulo_de_la_filmacion.lower().replace("_", " ")
    pelicula = df_funciones[df_funciones['title'].str.lower() == titulo_formateado]
    
    if pelicula.empty:
        return "No se encontró una película con ese título."
    
    
    titulo = pelicula['title'].values[0]
    año = pelicula['release_year'].values[0]
    score = pelicula['popularity'].values[0]  

    return f"La película '{titulo}' fue estrenada en el año {año} con un score/popularidad de {score}."

print(score_titulo("The Empire Strikes Back"))

La película 'the empire strikes back' fue estrenada en el año 1980 con un score/popularidad de 19.470959.

En la siguiente funcion se ingresa el título de una filmación esperando como respuesta el título, la cantidad de votos y el valor promedio de las votaciones. 
Como esta variable debe contar con al menos 2000 valoraciones para cumplir con los requerimientos, el df se ajusto a que tomara peliculas con votaciones 
por encima de 1000 valoraciones para mostrar el mensaje avisando que no cumple esta condición y que por ende, no se devuelve ningun valor.

In [238]:
#Se filtra el Df reemplazando espacios con guiones bajos en el título ingresado para poder buscarla dese el servidor
#despues se verifica si la pelicula fue encontrada. En caso de que si, se obtiene el título, año en que se estreno, 
#cantidad de votos y promedio de votos para posteriormente verificar si cumple con al menos 2000 valoraciones.
#en ambos casos arroja un mensaje si cumplio o no con la peticion. 

def votos_titulo(titulo_de_la_filmacion):
    
    titulo_formateado = titulo_de_la_filmacion.replace("_", " ").lower()
    pelicula = df_funciones[df_funciones['title'].str.lower() == titulo_formateado]
    if pelicula.empty:
        return "No se encontró una película con ese título."

    titulo = pelicula['title'].values[0]
    año = pelicula['release_year'].values[0]
    votos = pelicula['vote_count'].values[0]
    promedio_votos = pelicula['vote_average'].values[0]
    
    if votos < 2000:
        return f"La película '{titulo}' no cumple con el mínimo de 2000 valoraciones (actual: {votos})."
    
    return f"La película '{titulo}' se estrenó en el año {año}, cuenta con un total de {votos} valoraciones, con un promedio de {promedio_votos}."

print(votos_titulo("Alien:_Covenant"))

La película 'alien: covenant' se estrenó en el año 2017, cuenta con un total de 2677.0 valoraciones, con un promedio de 5.7.

In [ ]:
#transformar a archivo.parquet
#dfMovies.to_parquet(r'C:\Users\pc\Downloads\movies_dataset.parquet', engine = 'pyarrow')
dfMovies_parquet = pd.read_parquet(r'C:\Users\pc\Downloads\movies_dataset.parquet')
#corroborar la transformacion 
print(dfMovies_parquet.head())
print("Número de Registros CSV Original:", dfMovies.shape[0])
print("Número de Registros Parquet Transformado:", dfMovies_parquet.shape[0])